<div class="feature-container">
  <div class="feature-content">
    <header class="header">PadNote</header>
    @if (!noteCreationReady) {
    <input type="text"
           [(ngModel)]="noteSearchValue"
           placeholder="Search for a previous note" />
    <button (click)="searchNote()">Search</button>
    <button (click)="readyCreateNote()">Create a note</button>
    } @else {
    <input type="text"
           [(ngModel)]="noteTitleValue"
           placeholder="Write your title here" />
    <textarea [(ngModel)]="noteContentValue"
              placeholder="Write your note here"></textarea>
    <button (click)="createNote()">Create</button>
    <button (click)="cancelCreateNote()">Cancel</button>
    }
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Content</th>
          <th>Created At</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let note of noteSignal(); let i = index;">
          <td>{{ note.id }}</td>
          <td>{{ note.title }}</td>
          <td>{{ note.content }}</td>
          <td>{{ note.createdAt }}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
