<div>
  <div>
    <header>LOGIN</header>
    @if(!registerReady){
    <input type="text"
           [(ngModel)]="loginUsernameValue"
           placeholder="Username" />
    <input type="password"
           [(ngModel)]="loginPasswordValue" placeholder="password" />
    <button (click)="login()">Login</button>
    <button (click)="readyRegister()">Register</button>
    } @else{
    <input type="text"
           [(ngModel)]="registerUsernameValue"
           placeholder="New Username" />
    <input type="password"
           [(ngModel)]="registerPasswordValue" placeholder="new password" />
    <button (click)="register()">Register btw</button>
    <button (click)="cancelRegister()">Cancel btw</button>
    }
  </div>
</div>
